@model IEnumerable<FarmCentralWebApp.ViewModels.ViewHistory>

@{
    ViewData["Title"] = "ViewDateFilter";
}

<h3> Results filtered by : Product Added Date</h3>

<p>
     <a asp-action="FarmerProductHistory">View All</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name of Product
            </th>
            <th>
                Product type/category
            </th>
            <th>
                Quantity/Stock
            </th>
            <th>
                Date added
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @{var dateFormat = item.ProductDate.ToString("D");}
                @Html.DisplayFor(modelItem => dateFormat)
                
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.UsersProductId}) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.UsersProductId  })
            </td>
        </tr>
}
    </tbody>
</table>
